name: CI
on:
  push:
    branches: master
jobs:
  build:
    name: Build, lint, and test with Go version ${{ matrix.go }} and ${{ matrix.os }}

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go: ['1.20', '1.21']
        os: [ubuntu-latest, macOS-latest]
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go environment
        uses: actions/setup-go@v5.0.0
        with:
          check-latest: true
          go-version: ${{ matrix.go }}
          cache-dependency-path: |
            go.sum
      - run: go test -v ./internal/... ./gwirl/...

