on:
  push:
    tags:
      - '*'
  jobs:
    build: 
      name: Build vscode extension
      runs-on: ubuntu-latest
      steps:
        - name: setup node
          uses: actions/setup-node@v4
        - name: get deps
          run: npm ci
        - name: get vsce
          run: npm i -g @vscode/vsce
        - name: build extension
          run: npm run compile 
        - name: package extension
          run: vsce package -o gwirl-vscode-${{ github.ref }}.vsix
        - name: upload artifact
          uses: actions/upload-release-asset@v1
          env:
            GITHUB_TOKEN: ${{ github.token }}
          with:
            upload_url: ${{ steps.create_release.outputs.upload_url }}
            asset_path: ./gwirl-vscode-${{ github.ref }}.vsix
            asset_name: gwirl-vscode-${{ github.ref }}.vsix
            asset_content_type: application/zip
